<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="apple-touch-icon" sizes="57x57" href="/assets/img/icon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/img/icon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/icon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/icon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/icon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/icon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/img/icon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/icon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/icon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/assets/img/icon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/img/icon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/icon/favicon-16x16.png">
<link rel="manifest" href="/assets/img/icon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/img/icon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <script src="/assets/js/jquery.min.js"></script>

	<!-- Bootstrap CSS -->
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->

	<!-- <style>
		.btn-input { margin: 10px; }
	</style> -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
	<script>
		$(function(){
			$("#findBtn").click(function() {
				var email = $("#email").val();
				var id =  $("#id").val()
				var isEmail = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;

				if(id == "" || email == "") {
					alert("[(#{script.alert})]");
					return false;
				}
				if(!isEmail.test(email)) {
					alert("[(#{email.alert})]");
					return false;
				}
				$.ajax({
					url : "/login/forgot/request",
					type : "POST",
					data: "[(${_csrf.parameterName})]=[(${_csrf.token})]" + "&id=" + id + "&email=" + email,
					dataType: 'text',
					success : function(result) {
						if(result=="not_regist_admin") {
							alert("[(#{forgot.no_regist_admin})]");
						} 
						// else if(result="fail") {
						// 	alert("[(#{forgot.unknown_cause})]")
						// } 
						else {
							alert("[(#{forgot.success})]");
							window.location.href="/login";
						}
					}
				})
			})
		})
		
	</script>
	<title th:text="#{title}"></title>
</head>
<body>
	<div class="container-xl mb-5 p-4 bg-white shadow-sm">	
		<h3 th:text="#{forgot.password.head}"></h3><br>

		<span th:text="#{id.text}"></span> : <input type="text" id="id" name="id" class="text-input" th:placeholder="#{id.placeholder}">
		<br><br>
		<span th:text="#{email.text}"></span> : <input type="email" id="email" name="email" class="text-input" th:placeholder="#{email.placeholder}">
		
		<button type="button" id="findBtn" th:text="#{find}"></button><br>
		<!-- <span th:text="#{forgot.password.text1}"><br> -->
		<input type="button" id="btn_home" class="btn btn-primary" th:value="#{home}" onclick="location.href='/'"><br>
		
	</div>
</body>
</html>