<!DOCTYPE html>
<html lang="ko">
<head>
<link rel="apple-touch-icon" sizes="57x57" href="/assets/img/icon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/img/icon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/icon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/icon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/icon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/icon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/img/icon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/icon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/icon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/assets/img/icon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/img/icon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/icon/favicon-16x16.png">
<link rel="manifest" href="/assets/img/icon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/img/icon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="/js/sha512.js"></script>

	<style>
		.text-input { margin: 3px; }
		/* .btn-input { margin: 10px; } */
		.cmem_subtit {
			padding-bottom: 10px;
			border-bottom: 2px solid #222;
			letter-spacing: -0.3px;
			color: #222;
		}
	</style>

<title>zkVoting</title>
</head>

<body>
	<div class="container-xl mb-5 p-4 bg-white shadow-sm">	
		<h3>회원가입</h3><br>
		<div class="cmem_subtit">
			<h4>zkVoting 아이디 연결</h4>
		</div>

        <br>
        <span>가입 아이디: </span><span th:text="${adminId}"></span><br>
        <span>zkVoting 계정과 자동으로 연결을 원하시면 확인 버튼을 클릭해주세요.</span>
        <br><br>
        
        <input type="submit" id="create" class="btn btn-primary" value="확인" onclick="link_member();"><br>
	</div>

	<script>
        (function () {
                const Type = "[(${Type})]";
                
                switch (Type) {
                        case 'linkMember' :
                                alert("[(#{login.alreadyExists.text2})]");
                                break;
                        case 'UnknownReson' :
                                alert("[(#{error.problem_unknown_reason.text})]");
                                break;
                }
	})()
    	function link_member() {
                var form = document.createElement("form");
                form.setAttribute("charset", "UTF-8");
                form.action = "/login/OAuth/linkMember";
                form.method = "post"

                var input = document.createElement("input");
                input.type = "hidden";
                input.name = "adminId";
                input.value = "[(${adminId})]";
                form.appendChild(input);

                input = document.createElement("input");
                input.type = "hidden";
                input.name = "oauthId";
                input.value = "[(${oauthId})]";
                form.appendChild(input);

                input = document.createElement("input");
                input.type = "hidden";
                input.name = "registrationId";
                input.value = "[(${registrationId})]";
                form.appendChild(input);

                input = document.createElement("input");
                input.type = "hidden";
                input.name = "[(${_csrf.parameterName})]";
                input.value = "[(${_csrf.token})]";
                form.appendChild(input);

                document.body.appendChild(form);
                form.submit();
        }
	</script>
	
</body>
</html>